@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin:0;
    font-family:Lato;
}

.logo{
  width:90px;
  margin-left:20px;
  margin-top:10px;
  margin-bottom:10px;
  cursor:pointer;
}

.log-in-button,
.submit-btn{
    width:100%;
    padding:15px 8px 15px 8px;
    font-size:18px;
    font-weight:bold;
    background:#6d95c59e;
    border-radius:5px;
    cursor:pointer;
    border:none;
}


.log-in-button:hover,
.submit-btn:hover{
  background:#6d95c56d
}



th ,td{
    padding:10px
}


