.add-sem-button{
    display:flex;
    
}

.subject-input-container{
    display:flex;
    flex-direction:row;
    gap:10px;
}

.sem-container{
    display:flex;
    flex-direction:column;
    gap:10px;

}

.sem-name-section{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
}

.delete-semester{
    font-size:15px;
    padding:8px
}


.add-semester-btn-section{
    display:flex;
    justify-content: end;
    margin:10px 0 10px 10px
}
