.course_table_subject_column{
    display:flex;
    flex-direction:row;
    justify-content:space-evenly
}

.individual_semester_subject_section{
    display:flex;
    flex-direction:column;
    gap:5px;
}

.sem-title{
    font-weight:bold;
}