.role-selection{
    list-style:none;
    display:flex;
    flex-direction:row;
}

h1{
    margin-top:20px;
    margin-bottom:20px;
    text-align:center;
}

.create-acc-container{
    width:90%;
    max-width:768px;
    justify-content:center;
    display:flex;
    flex-direction:column;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    border:2px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(6px);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.403);
    transition: background 0.3s ease;
    border-radius:5px;

}

.create-acc-wrapper{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    height:100vh;
    margin:0 auto
}

.role{
    display:block;
    flex:1;
    text-align:center;
    padding:18px;
}

.active-role{
  background:#E8DFCA
}


.role:hover:not(.active-role){
    background:#F5EFE6;
}

.sign-up-form{
    width:90%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    margin:0 auto;
    gap:20px;
    padding-bottom:20px;
}



