.display-bus-schedule-container{
    width:90%;
    border:3px solid #6D94C5;
    display:flex;
    flex-direction:column;
    justify-content:center;
    gap:20px;
    padding:10px;
    border-radius:10px;
}

.top-section{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    padding-top:10px;
    align-items:center;
}

.bus-schedule-section{
    display:grid;
    width:100%;
    grid-template-columns: repeat(4,1fr);
    text-align:center;
    row-gap:30px;
}

.time{
    font-weight:1000;
    font-size:1.5rem;
}

.past-time{
    font-weight:400;
    color:gray;
    opacity:0.5;
}

.route-display{
    font-weight:bold;
    font-size:1.5rem;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    gap:12px;
}

.icon-with-label{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    gap:5px;   
}

.toggle-switch-container{
    display:flex;
    flex-direction:row;
    align-items: center;
    gap:12px;
    background:#cbdceb91;
    padding:10px;
}

.parent-container{
    width:100%;
    display:flex;
    justify-content:flex-end;
}

.show-all-label{
    font-size:18px;
    font-weight:bold;
}

.countdown-timer{
    background:#cbdceb91;
    padding:10px;
    font-size:16px;
    font-weight:bold
}


@media (max-width:768px) {
    .bus-schedule-section{
        grid-template-columns: repeat(2,1fr);
    }
    
    .top-section{
        flex-direction:column;
        align-items: flex-start;
        gap:15px;
    }
}

.full-display-bus-schedule-container{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:50px;
    margin-top:50px;
}