input[type="text"],
input[type="password"],
input[type="date"],
input[type="time"],
input[type="datetime-local"],
textarea,
select{
    width:100%;
    padding:13px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size:2vh
} 

.form-row{
    display:flex;
    flex-direction:row;
    gap:20px
}

.form-group{
    flex:1;
}

label{
    display:flex;
    flex-direction:column;
    gap:10px;
}

.add-cancel-btn-section{
    display:flex;
    flex-direction:row;
    justify-content:center;
    gap:12px;
}

.add-btn,
.add-new-btn,
.cancel-btn,
.delete-btn,
.edit-btn{
    padding:15px 20px 15px 20px;
    border-radius:5px;
    border:none;
    font-size:2vh;
    cursor:pointer
}

.add-btn,
.add-new-btn{
    background: #48c78e
}

.add-btn:hover,
.add-new-btn:hover{
    background:#3bb37f
}

.delete-btn{
    background:#f88379
}

.delete-btn:hover{
    background:#f26b60
}

.edit-btn{
    background: #4aa3df;
}

.edit-btn:hover{
    background:#398ac2
}

.edit-delete-section{
    display:flex;
    flex-direction:row; 
    justify-content:space-around;
}

.cancel-btn{
    background:#bdc3c7
}

.add-things-container{
    display:flex;
    align-items:center;
    justify-content:center;
    height:40vh;
    position: fixed;
    width:100%;
    height:100%;
    background: rgba(0, 0, 0, 0.6);
    top:0;
    left:0

}

.add-things-section{
    width:90%;
    max-width:500px;
    display:flex;
    flex-direction:column;
    gap:15px;
    background-color:white;
    margin:0 auto;
    padding:15px

}

@media(max-width:768px){
    .form-row{
        flex-direction:column;
    }
}