.navbar-container{
  background-color:#9fb6c3;
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:space-between;
  width:100%;
  position:relative

}


.link{
  text-decoration:none;
  color:black;
  font-size:14px;
  font-weight:700
}

.link:hover{
  border-bottom:solid;
}

.navbar{
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  width:800px;
}

.material-symbols-rounded{
  font-size:25px;
}

.notification-icon-container,
.profile-icon-container{
  width:40px;
  height:40px;
  background-color:#ebeee8;
  display:flex;
  align-items:center;
  justify-content:center;
  border-radius:50%;
  border:none;
  cursor:pointer
}

.notification-icon-container{
  position:relative
}

.dropdown-notification-container{
  position:absolute;
  right:20px;
  top:50px;
  background:white;;
  width:600px;
  display:flex;
  flex-direction:column;
  border-radius:5px;
  overflow:hidden;
  box-shadow:0px 4px 10px rgba(0,0,0,0.1);
}



.notification{
  padding:13px;
}

.even-notification{
  background:#ebeee8
}


.dropdown-notification-container h1{
  font-size:16px;
  line-height:1.2;
  margin:0
}

.dropdown-notification-header{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
  padding:10px;
}

.dropdown-notification-header h1{
  font-size:20px;
}

.dropdown-notification-header p,
.view-all-notification{
  font-size:15px;
  text-decoration:underline;
  cursor:pointer
}

.view-all-notification{
  margin-top:10px;
  margin-bottom:10px;
  color:black;
}

.posting-date-time{
  display:flex;
  flex-direction:row-reverse;
  font-size:12px;
}


.icon-container{
  display:flex;
  width:90px;
  justify-content:space-between;
  margin-right:20px;
}

.hamburger-menu-btn{
  display:none;
  border:none;
  background:none;
}

@media (max-width:768px){

  .icon-container{
    width:130px
  }

  .hamburger-menu-btn{
    display:block;
  }

  .navbar{
    display:none;
    flex-direction:column;
    gap: 13px;
    position: absolute;
    top: 80px;
    right: 10px;
    background: white;
    padding: 15px;
    border-radius: 8px;
    width:180px;
    z-index:100;
    align-items:center;
  }

  .navbar.active{
    display:flex;
  }
}

.icon-button{
  text-decoration:none;
}



