.view-detail-notification-icon{
    font-size:20px;
    color:gray;
    cursor:pointer;
}

.posting_date_time_container{
    display:flex;
}

.display-notification-container{
    display:flex;
    flex-direction:column;
    width:90%;
    margin:0 auto;
    max-width:768px;
    box-shadow:0px 4px 10px rgba(0,0,0,0.1);
    border-radius:8px;
    margin-bottom:30px;
    padding-bottom:10px;

}

.display-notification-outer-container{
    display:flex;
    flex-direction:column;
    align-items:center;

}

.notification{
    padding-left:20px;
    padding-top:0;
    padding-bottom:10px;
    display:flex;
    flex-direction:column;
    align-items:start;
}

.notification h1{
    font-size:20px;
    line-height:1.2;
}

.notification p{
    font-size:15px;
    color:gray
}

.detail-notification-container{
    height:50%;
    border-radius:5px;
}

.posting_date_time_container{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    width:95%;
    align-items:center;
}

.close-icon-container{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin-bottom:0;
}

.close-icon{
    cursor:pointer;
}

.details-notification-header{
    margin-top:0;
    display:flex;
    flex-direction:column;
    border-bottom:solid;
    padding-bottom:10px;
    width:100%;
    border-color:gray;
}

.notification-message{
    text-align:center
}

.unread-sign{
    background:red;
    display:block;
    height:15px;
    width:15px;
    border-radius:50%
}

.mark-all-as-read{
    font-size:15px;
    text-decoration:underline;
    cursor:pointer;
    text-align:center;
    margin-top:10px;
    margin-bottom:10px;

}


