h2{
    font-size:2.5vh
}

.profile-image-section{
    text-align:center;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:10px;
}

.profile-image{
    width:150px;
    height:150px;
    object-fit: fill;
}

.profile-image-container{
    border:solid;
    width:150px;
    height:150px;
    border-radius:50%
}

.profile-container{
    width: 90%;    /* or any fixed width */
    max-width:768px;
    background:#ebeee8;
    border-radius:10px;
    margin-top:30px;
    padding:30px 10px 30px 15px
    
}

.details-container{
    display:flex;
    flex-direction:column;
    gap:30px;
    margin-top:25px;
}

.details{
    font-size:2vh
}


.logout-button-container{
    display:flex;
    justify-content: flex-end;
    width:90%;
    max-width:768px;
}


.outer-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:30px; 

}

.logout-icon-container{
  width:60px;
  height:60px;
  background-color:#ebeee8;
  display:flex;
  align-items:center;
  justify-content:center;
  border-radius:50%;
  border:none;
  cursor:pointer
}

.material-symbols-rounded{
  font-size:30px;
}