.management-timetable {
  width: 90%;
  table-layout: fixed; /* important */
  border-collapse: collapse;
  margin:0 auto
}

.add-new-btn-section{
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
    margin-right:10px
}

.management-timetable th,
.management-timetable td {
  border: 1px solid #ccc;
  vertical-align: center;

}

.table-container{
    margin-top:10px;
}

.table-notification-message {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp:2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.4;
    max-height: calc(1.4em * 2);
    margin: 0;
}

.management-timetable td ol {
  padding-left: 1.2em;
  height:100%;
  display:flex;
  flex-direction:column;
  gap:10px;
}



