.add-new-schedule-container{
    display:flex;
    align-items:center;
    justify-content:center;
    height:40vh;
    position: fixed;
    width:100%;
    height:100%;
    background: rgba(0, 0, 0, 0.6);
    top:0;
    left:0


}

.add-new-schedule-section{
    width:90%;
    max-width:500px;
    display:flex;
    flex-direction:column;
    gap:15px;
    background-color:white;
    margin:0 auto;
    padding:10px

}

.add-schedule-form{
    display:flex;
    flex-direction:column;
    gap:15px;

}


.schedule-timetable{
    border-collapse:collapse;
    text-align:center;  
}



